body {
  width:800px;
  margin:1em auto;
}

[higgidy-carousel] {
  width: 100%;
  overflow:hidden;
  [higgidy-carousel-images] {
    transition:1s;
    margin:0;
    padding:0;
    li {
      list-style:none;
      margin:0;
      padding:0;
    }
    li {
      display:inline-block;
      white-space:nowrap;
    }
    img {
      width: 100%;
    }
  }
  .links {
    text-align:center;
    ul, li {
      list-style:none;
      margin:0;
      padding:0;
    }
    li {
      display:inline-block;
    }
    a {
      transition:0.5s;
      display:inline-block;
      color:black;
      text-decoration:none;
      margin:5px;
      border-radius:100px;
      border:2px solid black;
      width:5px;
      height:5px;
      color:transparent;
    }
    a:hover, a.selected {
      background:black;
    }
  }
}
